body { background-color: #111;
        color: #f0f0f0;

        }

h1      { color: #f0f0f0;

        }

header  { text-decoration: #1DA7AD;

        }
        
      .container {
       
        margin-bottom: 20px; /* Add margin to create space between containers */
      }
      .container img {
        max-width: 30%; /* Ensure images don't exceed container width */
        height: auto; /* Maintain aspect ratio */
        display:inline; /* Remove extra space below images */
        margin-bottom: 10px; /* Add margin below images */
      }

.logo-container { width: 100px; /* Adjust width and height to fit your logo size */
                  height: 100px;
                  margin-right: 10px;
                  border-radius: 50%; /* Makes the container circular */
                  overflow: hidden; /* Ensures the image stays within the circular container */
                  border: 3px; /* Adds a border around the circular container */
                  float: right; 
                }
              
.logo-container img { display: flex;
                      justify-content: left;
                    }
      
      .rounded-image { border-radius: 50%;
                       border: 24px solid #92d5cf; /* You can adjust border properties as needed */
      }
                .nav ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                    
                    nav ul li {
                        display: inline-flex;
                        margin-right: 20px;
                    }
                    
                    nav ul li a {
                        text-decoration: none; /* Removes the underline */
                   s     color: rgb(226, 206, 206); /* Example color */
                    }
                    
                    /* Optionally, you can style the links on hover */
                    nav ul li a:hover {
                        color: blue; /* Example color */
                    }

.image-container { display: flex;
                   justify-content: center; /* This centers the images horizontally */
        }
              
.image-container img { max-width: 100%; /* Ensures images don't exceed their container width */
                       margin: 0 10px; /* Adjust margin as needed to create spacing between images */
        }

img     { border-color: rgb(0, 255, 255);
          border-style: solid;

        }
