body { background-color: #111;
        color: #f0f0f0;

        }

h1      { color: #f0f0f0;

        }

header  { text-decoration: #1DA7AD;

        }
        
      .container {
       
        margin-bottom: 20px; /* Add margin to create space between containers */
      }
      .container img {
        max-width: 30%; /* Ensure images don't exceed container width */
        height: auto; /* Maintain aspect ratio */
        display:inline; /* Remove extra space below images */
        margin-bottom: 10px; /* Add margin below images */
      }

.logo-container { width: 200px; /* Adjust width and height to fit your logo size */
                  height: 200px;
                  margin-right: 10px;
                  padding-bottom:10%;
                  border-radius: 50%; /* Makes the container circular */
                  overflow: hidden; /* Ensures the image stays within the circular container */
                  border: 3px; /* Adds a border around the circular container */
                  float: right; 
                }
      
      
      nav ul { 
        text-align: center;
        font-size: large;
        list-style: none; /* Remove bullet points */
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline; /* Display list items inline */
        margin-right: 20px; /* Add spacing between list items */
    }
    
    nav ul li:last-child {
        margin-right: 0; /* Remove margin from the last list item */
    }
    
    nav ul li a {
        text-decoration: none; /* Remove underline from links */
        color: #7edbd8;
}

.image-container { display: flex;
                   justify-content: center; /* This centers the images horizontally */
        }
              
.image-container img { max-width: 100%; /* Ensures images don't exceed their container width */
                       margin: 0 10px; /* Adjust margin as needed to create spacing between images */
        }

img     { border-color: rgb(0, 255, 255);
          border-style: solid;
          display: inline;

        }

#form-container { margin-top: 100px;
                  margin-left: 50px;
                  position: relative;

        }