body { background-color: #111;
        color: #f0f0f0;

        }

h1      { color: #f0f0f0;

        }

header  { text-decoration: #1DA7AD;

        }
        
.container { position: relative; /* Ensure the container is a positioned parent for absolute positioning */
           }

.main-image { position: absolute;
        top: 0;
        right: 0;
      }

.logo-container { width: 100px; /* Adjust width and height to fit your logo size */
                  height: 100px;
                  border-radius: 50%; /* Makes the container circular */
                  overflow: hidden; /* Ensures the image stays within the circular container */
                  border: 3px solid #000; /* Adds a border around the circular container */
                  float: right; 
                }
              
.logo-container img { width: 100%; /* Makes the image fill the circular container */
                      height: auto; /* Preserves aspect ratio */
                      display: block; /* Ensures the image behaves like a block element */
                }

li      { display: inline;
        }

.image-container { display: flex;
                   justify-content: center; /* This centers the images horizontally */
        }
              
.image-container img { max-width: 100%; /* Ensures images don't exceed their container width */
                       margin: 0 10px; /* Adjust margin as needed to create spacing between images */
        }

img     { border-color: rgb(0, 255, 255);
          border-style: solid;

        }
